/GUI/GUIMedia/nbproject/private/
/GUI/GUIMedia/build/
/Projects/prjPOO3/nbproject/private/
/Projects/prjPOO3/build/
/Exercises/prjCircle/nbproject/private/
/Exercises/prjCircle/build/
/Exercises/prjStudentFinalsResults/nbproject/private/
/Exercises/prjStudentFinalsResults/build/
/Exercises/prjCheckingAccount/nbproject/private/
/Exercises/prjCheckingAccount/build/
/Exercises/prjGenSpecNoPolymorphism/nbproject/private/
/Exercises/prjGenSpecNoPolymorphism/build/
/Exercises/prjGenSpecWithPolymorphism/nbproject/private/
/Exercises/employeesWithPolymorphism/nbproject/private/
/ExampleExercises/employeesWithPolymorphism/build/
/ExampleExercises/employeesBinaryAssociation/nbproject/private/
/ExampleExercises/employeesWithPolymorphism/nbproject/private/
/ExampleExercises/employeesBinaryAssociation/build/
/ExampleExercises/employeesArrayList/nbproject/private/
/ExampleExercises/employeesArrayList/build/
/ExampleExercises/companyGUI/nbproject/private/
/AssignedExercises/companyGUI/nbproject/private/
/AssignedExercises/companyGUI/build/
/GUIs/GUIMedia/nbproject/private/